<form action="/add" method="POST">   
   Titulo 
   <br>
   <input name="titulo">
   <br>
   <br>
   Conteudo
   <br>
    <textarea name="conteudo"></textarea>
   <br>
   <br>
    <button type="submit" >Enviar</button>
</form>