<form action="/update" method="POST">    
   <br>
   <input type="hidden" name="id"   value ="{{id}}" >
   Titulo 
   <br>
   <input type="text" name="titulo"  value="{{titulo}}">
   <br>
   <br>
   Conteudo
   <br>
    <textarea name="conteudo" >{{conteudo}}</textarea> 
   <br>
   <br>
    <button type="submit" >Enviar</button>
   
</form>
